---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---
<BaseLayout pageTitle={pageTitle}>
    <style define:vars={{skillColor, fontWeight, textCase}}>
      h1 {
        color: purple;
        font-size: 4rem;
      }
      .skill {
        color: var(--skillColor); 
        font-weight: var(--fontWeight);
        text-transform: var(--textCase); 
      }
    </style>
	  Astro is great Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.
	  <p>My skills are so far:</p>
<ul>
  {skills.map((skill) => <li class="skill">{skill}</li>)}
</ul>
